body {
  background-color: #E0DDCF;
}
h2 {
  color: white;
  font-size: 80px;
  text-align: center;
 text-shadow: 10px 1px #3C5A14;
background: #F1F0EA;
  top: 0;
}
nav {
  list-style-type: none;
  background-color:  #F1F0EA;
 position: fixed;
  width: 100vw;
  padding: 8px;
  left: 0;
}
li {
    color: white;
  font-size: 20px;
 text-shadow: 2px 1px #3C5A14;display: inline;
  padding: 60px;
}
